.button {
    width: 70px;
    height: 34px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.active {
    background: #1e64b7;
}

.button:hover {
    cursor: pointer;
    background-color: #1e64b7;
}