.button {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 8px;
    letter-spacing: 0.015rem;
    background-color: #1e65b7;
    color: #ffffff;
}

.button:disabled {
    background-color: #c0c0c0;
}

.button:hover {
    cursor: pointer;
}